// Colors
$black: #0f0f0f;
$white: #fff;

$brand-primary-dark: #011c1f;
$brand-primary: #003539;
$brand-primary-light: #046c6f;

$brand-secondary-dark: #1c8faf;
$brand-secondary: #1db6e0;
$brand-secondary-light: #89e7ff;

$text-primary: #2b2b2e;
