// Colors
$black: #0f0f0f;
$white: #fff;
$neutral-light: #e9e9e9;

$brand-primary-xdark: #011c1f;
$brand-primary-dark: #013C40;//#011c1f;
$brand-primary: #014c51;//#003539;
$brand-primary-light: #02787F;//#046c6f;
$brand-primary-xlight: #1db2ba;

$brand-secondary-dark: #2180d3;//#0E64ED;
$brand-secondary: #309CFF;
$brand-secondary-light: #77bfff;//#ACD7FF;

$text-primary: #2b2b2e;
$text-primary-light: #7f7f7f;
